# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/KERNELUU/Release/KERNELUU.tlog
/KERNELUU/x64/Release/KERNELUU.tlog
/KERNELUU/Release
/KERNELUU/x64/Release
/LDR/Release
/LDR/x64
/Release
/UUWEDLL/x64/Debug
/Win32/Release
/x64
/x86/Release
/.vs/UUWE
